BOT_TOKEN=
ADMIN_BOT_TOKEN=
ADMIN_ID=
XUI_URL=
XUI_USERNAME=
XUI_PASSWORD=
PAYMENT_CARD_NUMBER=
PRICE_PER_GB=
ADMINS=
REQUIRED_CHANNEL=@PouriaDRD
REQUIRED_CHANNELS=@PouriaDRD,@Abulfadl_ah

# Optional X-UI settings
XUI_INBOUND_ID=1
XUI_DAYS_VALID=30
XUI_PUBLIC_HOST=
XUI_PORT=443
PUBLIC_SUB_HOST=
PUBLIC_SUB_TYPE=httpupgrade
PUBLIC_SUB_PATH=/assets

# ADMINS format example:
# ADMINS=1912278892:6037-1234-1234-1234,123456789:5892-1111-1111-1111
# REQUIRED_CHANNELS format example:
# REQUIRED_CHANNELS=@PouriaDRD,@channel2,@channel3
